.topic-secondary{
    text-align: center;
    font-size: 6rem;
    margin-bottom: rem;

}

.feature-boxx {
  background-color: rgba($color-white, 0.8);
  font-size: 1.6rem;
  padding: 3.5rem;
  text-align: center;
  
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  height: 45rem;
  

  @include respond(tab-port) {
      padding: 2rem;
  }

  &:hover {
      transform: translateY(-1.5rem) scale(1.03);
  }

  & img {
      width: 12rem;
  }
}

.section-features {
  // clip-path: polygon(25% 0%, 50% 0, 100% 100%, 0% 100%);

  // background-color: rgb(72, 143, 55);
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  background-image:"img\conta.jpg ";
  // transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
      transform: skewX(-7deg);
  }

  @include respond(tab-port) {
      padding: 14rem 0;
  }

}

  > * {
      

  @include respond(tab-port) {
      padding: 10rem 0;
  }
}


.image-left-text-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    margin-bottom: 3rem;
  
    .image-left-text-right-content {
    text-align: center;
      flex: 2;
      max-width: 50%;
      text-align: left;
      margin-left: 20px;
  
      p {
        font-size: 1.6rem;
        line-height: 1.8;
        margin-bottom: 1.5rem;
      }
    }
  
    .image-left-text-right-image {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 3rem;
      margin-left: 2rem;
  
      img {
        object-fit: contain;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        border: none;
      }
    }
  }
  